<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/index.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Request Header Parser Microservices</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center" id="main">
            <header><h3 class="text-center mt-5">Who Am I?</h3></header>
            <div class="col-6 align-self-start mb-5 ms-5">
                <div class="row mb-1">
                    <div class="col rounded-start border d-flex align-items-center fw-light label">
                         IP Address:
                    </div>
                    <div class="col-8 fw-semibold">
                        <%=ipaddress%>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col rounded-start border d-flex align-items-center fw-light label">
                         Preferred Language:
                    </div>
                    <div class="col-8 fw-semibold">
                        <%=language%>
                    </div>
                </div>
                <div class="row">
                    <div class="col rounded-start border d-flex align-items-center fw-light label">
                         User-Agent:
                    </div>
                    <div class="col-8 fw-semibold">
                        <%=software%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>